# **Movie Predictions Part 2 B**

Joe Lardie

March 2023

## **Import Data**

In [1]:
# Install tmdbsimple (only need to run once)
!pip install tmdbsimple

Requirement already satisfied: tmdbsimple in c:\users\davyd\anaconda3\envs\dojo-env\lib\site-packages (2.9.1)
Requirement already satisfied: requests in c:\users\davyd\anaconda3\envs\dojo-env\lib\site-packages (from tmdbsimple) (2.28.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\davyd\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (2022.9.24)
Requirement already satisfied: idna<4,>=2.5 in c:\users\davyd\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\davyd\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\davyd\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (1.26.13)

In [2]:
# Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Additional Imports
import os, json, math, time
import tmdbsimple as tmdb
from tqdm.notebook import tqdm_notebook

In [3]:
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

[]

In [4]:
['title_akas.csv.gz','title_basics.csv.gz','title_ratings.csv.gz']

['title_akas.csv.gz', 'title_basics.csv.gz', 'title_ratings.csv.gz']

## **Define Function**

In [5]:
def write_json(new_data, filename): 
    """Appends a list of records (new_data) to a json file (filename). 
    Adapted from: https://www.geeksforgeeks.org/append-to-json-file-using-python/"""  
    
    with open(filename,'r+') as file:
        # First we load existing data into a dict.
        file_data = json.load(file)
        ## Choose extend or append
        if (type(new_data) == list) & (type(file_data) == list):
            file_data.extend(new_data)
        else:
             file_data.append(new_data)
        # Sets file's current position at offset.
        file.seek(0)
        # convert back to json.
        json.dump(file_data, file)

In [6]:
# Load in the dataframe from project part 1 as basics:
basics = pd.read_csv('https://datasets.imdbws.com/title.basics.tsv.gz', sep='\t', low_memory=False)

In [7]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

## **Create Required Lists for loop**

In [8]:
YEARS_TO_GET = [2000,2001]

## **Define Errors list**

In [9]:
errors =[]

### **Start Outter Loop**

## **Set up Progress Bar**

In [10]:
# Start of OUTER loop
for YEAR in tqdm_notebook(YEARS_TO_GET, desc='startYear', position=0):
    #Defining the JSON file to store results for year
    JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'
    # Check if file exists
    file_exists = os.path.isfile(JSON_FILE)
    # If it does not exist: create it
    if file_exists == False:
    # save an empty dict with just "imdb_id" to the new json file.
        with open(JSON_FILE,'w') as f:
             json.dump([{'imdb_id':0}],f)
    #Saving new year as the current df
    df = basics.loc[ basics['startYear']==YEAR].copy()
    # saving movie ids to list
    movie_ids = df['tconst'].copy()
# Load existing data from json into a dataframe called "previous_df"
previous_df = pd.read_json(JSON_FILE)
# filter out any ids that are already in the JSON_FILE
movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]

startYear:   0%|          | 0/2 [00:00<?, ?it/s]

## **Start Inner Loop**

In [13]:
#Get index and movie id from list
# INNER Loop
for movie_id in tqdm_notebook(movie_ids_to_get,
                                desc=f'Movies from {YEAR}',
                                position=1,
                                leave=True):
    try:
        # Retrieve then data for the movie id
        temp = get_movie_with_rating(movie_id)  
        # Append/extend results to existing file using a pre-made function
        write_json(temp,JSON_FILE)
        # Short 20 ms sleep to prevent overwhelming server
        time.sleep(0.02)
            
    except Exception as e:
        errors.append([movie_id, e])

Movies from 2001: 0it [00:00, ?it/s]

### **Itterate through the list of movie IDs and make the calls**

In [15]:
    final_year_df = pd.read_json(JSON_FILE)
    final_year_df.to_csv(f"{FOLDER}final_tmdb_data_{YEAR}.csv.gz", compression="gzip",
index=False)

## **After the Loop**

In [16]:
print(f"- Total errors: {len(errors)}")

- Total errors: 0