# **Movie Project Part 5**

Joe Lardie 

March 2023

# **Imports**

In [1]:
# Standard Libraries
import os
import json
import math
import time
import gzip
import glob
import warnings
warnings.filterwarnings('ignore')

# Numerical and Data Analysis Libraries
import numpy as np
import pandas as pd
import scipy.stats as stats
import statsmodels.api as sm

# Visualization Libraries
import matplotlib.pyplot as plt
from matplotlib.ticker import StrMethodFormatter
import seaborn as sns

# Database Management
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
from sqlalchemy.types import *
from urllib.parse import quote_plus

# Machine Learning Libraries
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.compose import make_column_transformer, make_column_selector
from sklearn.pipeline import make_pipeline, Pipeline
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error

# Additional Libraries
import joblib
from tqdm.notebook import tqdm_notebook
import tmdbsimple as tmdb

In [2]:
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['akas.csv.gz',
 'basics.csv.gz',
 'final_tmdb_data_2000 (1).csv.gz',
 'final_tmdb_data_2000 (2).csv.gz',
 'final_tmdb_data_2000 (3).csv.gz',
 'final_tmdb_data_2000.csv.gz',
 'final_tmdb_data_2001.csv.gz',
 'final_tmdb_data_2002.csv.gz',
 'final_tmdb_data_2003.csv.gz',
 'final_tmdb_data_2004.csv.gz',
 'final_tmdb_data_2005.csv.gz',
 'final_tmdb_data_2006.csv.gz',
 'final_tmdb_data_2007.csv.gz',
 'final_tmdb_data_2008.csv.gz',
 'final_tmdb_data_2009.csv.gz',
 'final_tmdb_data_2010.csv.gz',
 'final_tmdb_data_2011.csv.gz',
 'final_tmdb_data_2012.csv.gz',
 'final_tmdb_data_2013.csv.gz',
 'final_tmdb_data_2014.csv.gz',
 'final_tmdb_data_2015.csv.gz',
 'final_tmdb_data_2016.csv.gz',
 'final_tmdb_data_2017.csv.gz',
 'final_tmdb_data_2018.csv.gz',
 'final_tmdb_data_2019.csv.gz',
 'final_tmdb_data_2020.csv.gz',
 'ratings.csv.gz',
 'tmdb_api_results_2000.csv.gz',
 'tmdb_api_results_2000.json',
 'tmdb_api_results_2001.json',
 'tmdb_api_results_2002.json',
 'tmdb_api_results_2003.json',
 'tmdb_api_results_2004.json',
 'tmdb_api_results_2005.json',
 'tmdb_api_results_2006.json',
 'tmdb_api_results_2007.json',
 'tmdb_api_results_2008.json',
 'tmdb_api_results_2009.json',
 'tmdb_api_results_2010.json',
 'tmdb_api_results_2011.json',
 'tmdb_api_results_2012.json',
 'tmdb_api_results_2013.json',
 'tmdb_api_results_2014.json',
 'tmdb_api_results_2015.json',
 'tmdb_api_results_2016.json',
 'tmdb_api_results_2017.json',
 'tmdb_api_results_2018.json',
 'tmdb_api_results_2019.json',
 'tmdb_api_results_2020.json',
 'tmdb_api_results_2021.json',
 'tmdb_api_results_2022.json',
 'tmdb_results_combined.csv.gz']

In [3]:
# Load in the dataframe from project part 1 as basics:
basics = pd.read_csv('Data/basics.csv.gz')

In [4]:
#Import Ratings data
ratings = pd.read_csv('Data/ratings.csv.gz')

In [5]:
#Import akas data
akas = pd.read_csv('Data/akas.csv.gz')

In [6]:
# Import Basics
tmdb = pd.read_csv('Data/tmdb_results_combined.csv.gz')

In [7]:
def df_to_sql(df,primary=None):
    sql_schema = {key: None for key in df.columns}
    #Create schema to convert col.dtype to sql-types
    for col in df.columns:
       # print (f"{col} is type:{basics[col].dtype}")
        if df[col].dtype == "int64":
            sql_schema[col]=Integer()
        elif df[col].dtype == "float64":
            sql_schema[col]=Float()
        elif df[col].dtype == "object":
            sql_schema[col]=Text(df[col].fillna('').map(len).max()+1)
    if primary != None:
        #Change the primary key to type String(length=...)
        sql_schema[primary] = String(df[primary].fillna('').map(len).max()+1)
    return sql_schema

## **Creating MySQL DataBase**

In [8]:
#Create connection string using credintials
# connection = "dialect+driver://username:password@host:port/database"
connection_str = "mysql+pymysql://root:Root@localhost/movie"

In [9]:
# Create the engine:
engine = create_engine(connection_str)

In [10]:
# Check if the database exists. If not, create it.
if database_exists(connection_str) == False:
  create_database(connection_str)
else:
  print('The database already exists')

The database already exists

In [11]:
# Check for database existance:
database_exists(connection_str)

True

In [12]:
#Check the dtypes of your dataframe: (df.dtypes).
basics.dtypes

tconst             object
titleType          object
primaryTitle       object
originalTitle      object
isAdult             int64
startYear           int64
endYear           float64
runtimeMinutes    float64
genres             object
dtype: object

In [13]:
#Use custom function to convert to sql-ready
basics_schema = df_to_sql(basics,"tconst")
basics_schema

{'tconst': String(length=11),
 'titleType': Text(length=6),
 'primaryTitle': Text(length=243),
 'originalTitle': Text(length=243),
 'isAdult': Integer(),
 'startYear': Integer(),
 'endYear': Float(),
 'runtimeMinutes': Float(),
 'genres': Text(length=30)}

In [14]:
# Save to sql with dtype and index=False
basics.to_sql('title_basics',engine,dtype=basics_schema,if_exists='replace',
              index=False)

ValueError: tconst (VARCHAR(11)) not a string

In [ ]:
#Run the query to ADD PRIMARY KEY
engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')

In [ ]:
#Query the table and show first 5 rows
q = '''
SELECT *
FROM title_basics
Limit 5;
'''
pd.read_sql_query(q, engine)

In [ ]:
# Ratings colummns
ratings.columns

In [ ]:
# Preview of Ratings data
ratings.head()

In [ ]:
# unique ratings count
ratings['tconst'].unique()

In [ ]:
#Create a ratings_id map by pairing the unique ratings with an incrementing integer
ratings_id = range(len(ratings['tconst'].unique()))
ratings_map = dict(zip(ratings['tconst'].unique(), ratings_id))
#Add ratings_id primary key column
ratings["id"] = ratings["tconst"].map(ratings_map)

In [ ]:
ratings.head()

In [ ]:
ratings_schema = df_to_sql(ratings)
ratings_schema

In [ ]:
# Save to sql with dtype and index=False
ratings.to_sql('title_ratings',engine,dtype=ratings_schema,if_exists='replace',
              index=False)

In [ ]:
#Run the query to ADD PRIMARY KEY
engine.execute('ALTER TABLE title_ratings ADD PRIMARY KEY (`id`);')

In [ ]:
#Query the table and show first 5 rows
q = '''
SELECT *
FROM title_ratings
Limit 5;
'''
pd.read_sql_query(q, engine)

In [ ]:
## create a col with a list of genres
basics['genres_split'] = basics['genres'].str.split(',')
basics

In [ ]:
exploded_genres = basics.explode('genres_split')
exploded_genres

In [ ]:
# Unique genres
unique_genres = sorted(exploded_genres['genres_split'].unique())

In [ ]:
## Save just tconst and genres_split as new df
title_genres = exploded_genres[['tconst', 'genres_split']].copy()
title_genres.head()

In [ ]:
## Making the genre mapper dictionary
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

In [ ]:
## Make a dictionary with list of unique genres as the key and the new iteger id as values
genre_id_map = dict(zip(unique_genres, range(len(unique_genres))))
genre_id_map

In [ ]:
basics['genres_split'] = basics['genres_split'].apply(lambda x: tuple(x))

In [ ]:
## make new integer genre_id and drop string genres
basics['genre_id'] = basics['genres_split'].map(genre_map)
basics = basics.drop(columns='genres_split')

In [ ]:
## Manaully make dataframe with named cols from the .keyd and .values
genre_lookup = pd.DataFrame ({'Genre_Name': genre_id_map.keys(),
                             'genre_ID':genre_id_map.values()})
genre_lookup.head()

In [ ]:
basics['int_index'] = range(len(basics))

In [ ]:
## get max string length
max_str_len = basics['genres'].fillna('').map(len).max()

In [ ]:
## Calculate max string lengths for object columns
key_len = basics['tconst'].fillna('').map(len).max()
title_len = basics['primaryTitle'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    "tconst": String(key_len+1), 
    "primaryTitle": Text(title_len+1),
    'startYear':Float(),
    'endYear':Float(),
    'runtimeMinutes':Integer()}

In [ ]:
# Save to sql with dtype and index=False
basics.to_sql('title_basics',engine,dtype=df_schema,if_exists='replace',index=False)

In [ ]:
#Check the dtypes of your dataframe: (df.dtypes).
title_genres.columns

In [ ]:
#Use custom function to convert to sql-ready
title_genres_schema = df_to_sql(title_genres)
title_genres_schema

In [ ]:
# Save to sql with dtype and index=False
title_genres.to_sql('title_genres',engine,dtype=title_genres_schema,if_exists='replace',
              index=False)

In [ ]:
#Query the table and show first 5 rows
q = '''
SELECT *
FROM title_genres
Limit 5;
'''
pd.read_sql_query(q, engine)

In [ ]:
genres = pd.DataFrame(basics)

In [ ]:
# Genres Columns
genres.columns

In [ ]:
#Use custom function to convert to sql-ready
genres_schema = df_to_sql(genres)
genres_schema

In [ ]:
# Save to sql with dtype and index=False
genres.to_sql('genres',engine,dtype=genres_schema,if_exists='replace',
              index=False)

In [ ]:
#Query the table and show first 5 rows
q = '''
SELECT *
FROM genres
Limit 5;
'''
pd.read_sql_query(q, engine)

In [ ]:
tmdb.head()

In [ ]:
tmdb.columns

In [ ]:
#You only need to keep the imdb_id, revenue, budget, and certification columns
tmdb_req = tmdb[["imdb_id","revenue","budget","certification"]]

In [ ]:
#Use custom function to convert to sql-ready
tmdb_schema = df_to_sql(tmdb_req,"imdb_id")
tmdb_schema

In [ ]:
# Save to sql with dtype and index=False
tmdb_req.to_sql('tmdb_data',engine,dtype=tmdb_schema,if_exists='replace',
              index=False)

In [ ]:
#Query the table and show first 5 rows
q = '''
SELECT *
FROM tmdb_data
Limit 5;
'''
pd.read_sql_query(q, engine)

## **Part 4**

In [ ]:
# Recursive query - extra /**/ added to string
q = "Data/tmdb_results_combined.csv.gz" 
tmdb_results_combined = sorted(glob.glob(q)) 
# Showing the first 5 
tmdb_results_combined[:5]

In [ ]:
## Loading all files as df and appending to a list
df_list = []
for file in tmdb_results_combined:
    tmdb_df = pd.read_csv(file, index_col=0)
    df_list.append(tmdb_df)
    
## Concatenating the list of dfs into 1 combined
df_combined = pd.concat(df_list)
df_combined

In [ ]:
## Loading and Concatenating the list of dfs with 1 line
df_combined = pd.concat([pd.read_csv(file, index_col=0) for file in tmdb_results_combined])
df_combined

In [ ]:
movie_df = df_combined

In [ ]:
# Reset index to be continuous
movie_df = df_combined.copy().reset_index()
movie_df

In [ ]:
movie_df.info()

In [ ]:
# I only need imdb_id, budget, revenue, and certification
movie_df = movie_df[['imdb_id', 'budget', 'revenue', 'certification']]
movie_df

In [ ]:
movie_df.duplicated().sum()

In [ ]:
movie_df.drop_duplicates(inplace = True)

In [ ]:
movie_df.isna().sum()

In [ ]:
movie_df.dropna(inplace = True)

In [ ]:
movie_df.isna().sum()

In [ ]:
display(movie_df.info(), movie_df.head())

In [ ]:
# Rename imdb_id as 'tconst' to match basics
movie_df.rename(columns = {'imdb_id': 'tconst'}, inplace = True)
movie_df.head()

In [ ]:
# Now, lod in title basics
basics = pd.read_csv('Data/basics.csv.gz')
basics

In [ ]:
# Drop a couple unnecessary columns
basics = basics.drop(columns = ['isAdult', 'titleType'])
basics.head()

In [ ]:
df = pd.merge(movie_df, basics, on = 'tconst', how = 'right')
df.head()

In [ ]:
# Drop "originalTitle"
df = df.drop(columns = 'originalTitle')

In [ ]:
# Now, we need to load in and add or title ratings
ratings = pd.read_csv('Data/ratings.csv.gz')
ratings.head()

In [ ]:
# Merg this with our df
df = pd.merge(df, ratings, on = 'tconst', how = 'right')
df.head()

In [ ]:
# Drop rows with NaN values in the 'primaryTitle'
df = df.dropna(subset = 'primaryTitle')

In [ ]:
df.head()

In [ ]:
# Try to assess Certification
df['certification'].value_counts()

In [ ]:
# Drop Certifications that are not of interest

df['certification'] = df['certification'].replace({'-':'drop', 'NC-17':'drop',
                                                   'NR':'drop', '10': 'drop',
                                                   'Unrated':'drop'})
# Filter out rows with 'drop' in the certification column
df = df[df.certification != 'drop']
df['certification'].value_counts()

In [ ]:
df['certification'].describe()

In [ ]:
# Replace the single R anf PG-13 values
df['certification'] = df['certification'].replace({'R ':'R', 'PG-13 ': 'PG-13'})
df['certification'].value_counts()

In [ ]:
df.isna().sum()

In [ ]:
df.info()

## **Hypothesis Testing**

### **Stakeholder's First Question**

- The stakeholder's 1st question is: does the MPAA rating of a movie (G/PG/PG-13/R) affect how much revenue the movie generates?

Null Hypothesis:There is no difference in revenue generation between different movie ratings

Alternate Hypothesis:There will be a statistical difference between revenue generation between movie certification

Alpha = 0.05
We will be using an ANOVA Test

In [ ]:
# Make a copy df
anova_df = df.copy()

In [ ]:

# Drop 0.0 revenue values
anova_df = anova_df[anova_df.revenue != 0.0]

In [ ]:
# Simply to show our certifications and revenue BEFORE removing outliers
sns.barplot(data = anova_df, x = 'certification', y = 'revenue');

We need to assess for outliers using Tukey's rule for Outliers
Tukey's rule states that outliers are those values more than 1.5 times the IQR (Interquartile Range).
This means values either:
1.5 times lower than Q1 (Q1 - 1.5IQR)
1.5 times higher than Q3 (Q3 + 1.5IQR)
Therefore, we need to calculate our Q1, Q3, and IQR. Then, we can find our upper and lower limits, and drop outliers outside that range.

The below code was adapted from: https://www.youtube.com/watch?v=A3gClkblXK8

In [ ]:
# Calculate Q1 and Q2
Q1 = anova_df.revenue.quantile(0.25)
Q3 = anova_df.revenue.quantile(0.75)
Q1, Q3

In [ ]:
# Calculate IQR
IQR = Q3 - Q1
IQR

In [ ]:
# Set upper and lower limit
lower_limit = Q1 - (1.5 * IQR)
upper_limit = Q3 + (1.5 * IQR)
lower_limit, upper_limit

In [ ]:
# Now, we will find and list our outliers
anova_df[(anova_df.revenue < lower_limit) | (anova_df.revenue > upper_limit)]

In [ ]:
anova_no_outliers = anova_df[(anova_df.revenue > lower_limit) & (anova_df.revenue < upper_limit)]
anova_no_outliers
    # We can see below (from our row count) tha we have eliminated our outliers

In [ ]:
# We need to separate and analyze our groups individually. We have 4 ratings
certifications = {}

# Loop through all unique characteristics
for i in anova_no_outliers['certification'].unique():
    data = anova_no_outliers.loc[anova_no_outliers['certification'] == i,
                                 'revenue'].copy()
    
    # Save results in dictionary
    certifications[i] = data
    
certifications.keys()

In [ ]:
# Now, we can assess normality of our certifications (groups)
norm_results = {}

for i, data in certifications.items():
    stat, p = stats.normaltest(data)
    
    # Append norm_results with p-values, test stats, and size of region group
    norm_results[i] = {'n': len(data), 'p': p, 'test stat': stat,}
    
# Convert to a DF
norm_results_df = pd.DataFrame(norm_results).T
norm_results_df

In [ ]:
# Check sign (statistical significance) in pandas (more ledgible)
norm_results_df['sig'] = norm_results_df['p'] < 0.05
norm_results_df


We confirm that all regions do NOT have normal distribution.
We have large enough groups to ignore the assumption of normality

In [ ]:
# Testing groups for equal varience (levene test)
stats.levene(*certifications.values())

We did not meet the assumption of equal variance, but we can still perform a one-way ANOVA test using the Kruskal-Wallis test (Nonparametric test)

In [ ]:
results_anova = stats.kruskal(*certifications.values())
results_anova

In [ ]:
# A quick visualization of our data WITHOUT outliers
sns.barplot(data = anova_no_outliers, x = 'certification', y = 'revenue');

To take this one step further, this is likely do to larger crowd appeal due to lack of age restrictions of lower certifications, meaning more people view these movies. Also parents must buy tickets for both their children, and themselves when going to see a G movie (potentially, more overall tickets sold)
Our result is < (less than) our Alpha of 0.05, which means we:
REJECT the Null Hypothesis (There is no difference in revenue generation between different movie ratings)
SUPPORT the Alternate Hypothesis (There will be a statistical difference between revenue generation between movie certification)
The stakeholder's SECOND question is: Do movies with a runtime of 2 hours or more have higher budgets?
Null Hypothesis:
There is no difference in budget amounts for movies of 2 hours or more than movies shorter than 2 hours
Alternate Hypothesis:
There will be a statistical difference between budget amounts for movies of 2 hours or more than movies shorter than 2 hours
Alpha = 0.05
We will be using an 2 sample T-test

### **Stakeholder's Second Question**

- The stakeholder's second question is: Do movies with a runtime of 2 hours or more have higher budgets?

Null Hypothesis: There is no difference in budget amounts for movies of 2 hours or more than movies shorter than 2 hours

Alternate Hypothesis: There will be a statistical difference between budget amounts for movies of 2 hours or more than movies shorter than 2 hours 

Alpha = 0.05 We will be using an 2 sample T-test

In [ ]:
# Create new DF with no budget values = 0
length_df = df.copy()
length_df = length_df[length_df.budget != 0.0]

In [ ]:
# Create 2 dfs for long and short movies
long_movie = length_df.loc[df['runtimeMinutes'] >= 120.0].copy()
short_movie = length_df.loc[df['runtimeMinutes'] < 120.0].copy()

# Get new movie DF info
display(long_movie.info(), short_movie.info())

In [ ]:
# Create a num boolean column to help us with visualizations
length_df['short_movie'] = length_df[['runtimeMinutes']].sum(axis = 1) < 120.0 
length_df

Visualizing average budget differences between short (<120min) movies and long (>=120min) movies

In [ ]:
# Visualize before dealing with outliers
fig, ax = plt.subplots(figsize = (4.2, 4.2))
sns.barplot(data = length_df, x = 'short_movie', y = 'budget', 
            hue = 'short_movie')
plt.title('Average buget by movie length');

In [ ]:
# Drop null values so they don't interfere with our statistical test
long_movie.dropna(inplace = True)
short_movie.dropna(inplace = True)

In [ ]:
display(long_movie.info(), short_movie.info())

In [ ]:
# Define features of interest
long_budget = long_movie['budget']
short_budget = short_movie['budget']

In [ ]:
# Check for outliers separately in both groups
zscores_long = stats.zscore(long_budget)
outliers = abs(zscores_long) > 3
np.sum(outliers)

In [ ]:
# Check for outliers separately in both groups
zscores_short = stats.zscore(short_budget)
outliers = abs(zscores_short) > 3
np.sum(outliers)

In [ ]:
# Remove Outliers
long_budget = long_budget[(np.abs(stats.zscore(long_budget)) < 3)]
short_budget = short_budget[(np.abs(stats.zscore(short_budget)) < 3)]

In [ ]:
# Check for normality
result_long_movie = stats.normaltest(df.iloc[:, 5])
print(result_long_movie)

In [ ]:
# Check for normalitye
result_short_movie = stats.normaltest(df.iloc[:, 5])
result_short_movie

Both normality tests resulted in a p-value far below 0.05, indicting they are NOT normally distributed
We will continue with our tests, however, because the group sizes are larger than 15

In [ ]:
# Use Levene test to check for equal variance
result_levene = stats.levene(long_budget, short_budget)
result_levene

Our groups do NOT have equal variance
Therefore we will include "equal_var = False" in our T-Test

In [ ]:
# Independent t-test with equal var set to False
result_ttest = stats.ttest_ind(long_budget, short_budget,
                               equal_var = False)
result_ttest

Our result is < (less than) our Alpha of 0.05, which means we:
REJECT the Null Hypothesis (There is no difference in budget amounts for movies of 2 hours or more than movies shorter than 2 hours)
SUPPORT the Alternate Hypothesis (There will be a statistical difference between budget amounts for movies of 2 hours or more than movies shorter than 2 hours)

### **Stakeholder's Third Question**

- The stakeholder's THIRD question is: Does the certification (G, PG, PG-13, R) of a movie affect the movie's average rating?

Null Hypothesis:There is no difference in ratings between movie certifications

Alternate Hypothesis:There will be a statistical difference in ratings between movie certifications

Alpha = 0.05
We will be using an ANOVA Test

In [ ]:
# We will follow similar steps to those used in question ONE
# Make a copy df
anova_df2 = df.copy()

In [ ]:
# Check values in averageRating column
anova_df2['averageRating'].describe()

In [ ]:
# Drop NaN values from certifications
anova_df2 = anova_df2.dropna(subset = 'certification')
anova_df2.info()

There are no columns with a 0.0 value to consider (seems like they're all filled)
Also, we can see that the ratings range from 1 - 10

In [ ]:
# There are no columns with a 0.0 value to consider (seems like they're all filled)
# Quick plot with ouliers
sns.barplot(data = anova_df2, x = 'certification', y = 'averageRating');

In [ ]:
# Now, Using Tukey's rule, set quartile ranges and eliminate outliers
# Calculate Q1 and Q2
Q1 = anova_df2.averageRating.quantile(0.25)
Q3 = anova_df2.averageRating.quantile(0.75)
Q1, Q3

In [ ]:
# Calculate IQR
IQR = Q3 - Q1
IQR

In [ ]:
# Set upper and lower limit
lower_limit = Q1 - (1.5 * IQR)
upper_limit = Q3 + (1.5 * IQR)
lower_limit, upper_limit

In [ ]:
# Find and list our outliers
anova_df2[(anova_df2.averageRating < lower_limit) | (anova_df2.averageRating > upper_limit)]

In [ ]:
anova_no_outliers2 = anova_df2[(anova_df2.averageRating > lower_limit) & (anova_df2.averageRating < upper_limit)]
anova_no_outliers2
    # We can see below (from our row count) tha we have eliminated our outliers

In [ ]:
# We need to separate and analyze our groups individually. We have 4 certifications
certifications2 = {}

# Loop through all unique characteristics
for i in anova_no_outliers2['certification'].unique():
    data = anova_no_outliers2.loc[anova_no_outliers2['certification'] == i,
                                 'averageRating'].copy()
    
    # Save results in dictionary
    certifications2[i] = data
    
certifications2.keys()

In [ ]:
# Now, we can assess normality of our certifications (groups)
norm_results2 = {}

for i, data in certifications2.items():
    stat, p = stats.normaltest(data)
    
    # Append norm_results with p-values, test stats, and size of region group
    norm_results2[i] = {'n': len(data), 'p': p, 'test stat': stat,}
    
# Convert to a DF
norm_results_df2 = pd.DataFrame(norm_results2).T
norm_results_df2

In [ ]:
# Check sign (statistical significance) in pandas (more ledgible)
norm_results_df2['sig'] = norm_results_df2['p'] < 0.05
norm_results_df2

We confirm that 3 regions do NOT have normal distribution.
We have large enough groups to ignore the assumption of normality

In [ ]:
# Testing groups for equal varience (levene test)
stats.levene(*certifications2.values())

Our p-value is > 0.05, so we met our assumption of equal variance.
We will perform a One-Way ANOVA test in this situation

In [ ]:
result2 = stats.f_oneway(*certifications2.values())
result2

In [ ]:
# A quick visualization of our data WITHOUT outliers
sns.barplot(data = anova_no_outliers2, x = 'certification', y = 'averageRating');

Our result is < (less than) our Alpha of 0.05, which means we:
REJECT the Null Hypothesis (There is no difference in ratings between movie certifications )
SUPPORT the Alternate Hypothesis (There will be a statistical difference in ratings between movie certifications )

## **Part 5 Linear Regression Model**

In [ ]:
df = anova_no_outliers2

In [ ]:
df.info()

In [ ]:
df.drop('endYear', axis=1, inplace=True)

In [ ]:
sns.pairplot(df,y_vars='revenue');

In [ ]:
# Validation Split
y = df['revenue'].copy()
X = df.drop(columns=['revenue', 'averageRating']).copy()
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
X_train.head()

## **General Preprocessing**

In [ ]:
# cat selector
cat_select = make_column_selector(dtype_include='object')
cat_cols = cat_select(X_train)
cat_cols

In [ ]:
# num selector
num_select = make_column_selector(dtype_include='number')
num_cols = num_select(X_train)
num_cols

In [ ]:
# make pipelines
cat_pipe = make_pipeline(SimpleImputer(strategy='constant',
                                       fill_value='MISSING'),
                         OneHotEncoder(handle_unknown='ignore', sparse=False))
num_pipe = make_pipeline(SimpleImputer(strategy='mean'),#StandardScaler()
                        )
preprocessor = make_column_transformer((cat_pipe,cat_cols),
                                        (num_pipe, num_cols), remainder='passthrough')

## **Preprocessing For Statsmodels**

In [ ]:
# Fitting the tansformer
preprocessor.fit(X_train)

In [ ]:
pd.DataFrame(np.round(preprocessor.transform(X_train), 3))

## **Getting Feature Names**

In [ ]:
# Create an empty list 
final_features = []

In [ ]:
# Finding the categorical pipeline in our col transformer
preprocessor.named_transformers_['pipeline-1']

In [ ]:
#Using named steps dictionary to find the encoder part 1
preprocessor.named_transformers_['pipeline-1'].named_steps

In [ ]:
# A) Using named steps dictionary to find the encoder - Part 2
ohe_step = preprocessor.named_transformers_['pipeline-1'].named_steps['onehotencoder']

In [ ]:
## B) Using list-slicing to find the encoder 
ohe_step = preprocessor.named_transformers_['pipeline-1'][-1]

## **Get Feature Names out**

In [ ]:
## Now, get OHE feature names
cat_features = ohe_step.get_feature_names_out(cat_cols)
cat_features

In [ ]:
final_features.extend(cat_features)
final_features

## **Numerical Features Names**

In [ ]:
num_cols

In [ ]:
final_features.extend(num_cols)
final_features

## **Transforming X_train and X_test and Remaking Data frame**

In [ ]:
# Transforming X_train
X_train_df = pd.DataFrame(preprocessor.transform(X_train), columns=final_features, index=X_train.index)
X_train_df.head()

In [ ]:
#Transforming X_test
X_test_df = pd.DataFrame(preprocessor.transform(X_test), columns=final_features, index=X_test.index)
X_test_df.head()

## **Overwrite X dataframe to include the constant**

In [ ]:
X_train_df = sm.add_constant(X_train_df,has_constant='add', prepend=False)
X_test_df = sm.add_constant(X_test_df,has_constant='add', prepend=False)
display(X_train_df.head(2), X_test_df.head(2))

# **Statsmodels vs Sklearn(Linear Regression)**

In [ ]:
model = LinearRegression(fit_intercept=False)

In [ ]:
# Fit the model 
model.fit(X_train_df, y_train)

In [ ]:
# Define predictions
train_preds = model.predict(X_train_df)
test_preds = model.predict(X_test_df)

In [ ]:
# Find r-square
print('Training r2:', r2_score(y_train, train_preds))
print('Testing r2:', r2_score(y_test, test_preds))
# find mse
print('Training MSE:', mean_squared_error(y_train, train_preds))
print('Testing MSE:', mean_squared_error(y_test, test_preds))

## **OLS Statmodels**

In [ ]:
## make & fit a statmsodels OLS
model = sm.OLS(y_train,X_train_df, hasconst=True)
result = model.fit()
result.summary()

In [ ]:
## Fit an OLS model
model = sm.OLS(y_train,X_train_df)
result = model.fit()
## Use the result (not the model) to .predict
test_preds = result.predict(X_test_df)

In [ ]:
test_r2 = r2_score(y_test, test_preds)
test_mse = mean_squared_error(y_test, test_preds)

In [ ]:
print(f'The testing r-square value is {test_r2} and the testing mean squared error is {test_mse}.')

# **Assumptions of Linearity**

In [ ]:
# Saving list of numeric features to slice for pairplot
num_selector = make_column_selector(dtype_include='number')
cols = num_selector(df.drop(columns='revenue'))
len(cols)

In [ ]:
sns.pairplot(df, y_vars='revenue',x_vars=cols[:5]);

In [ ]:
## Making a pairplot with regression lines
sns.pairplot(df, y_vars='revenue',kind='reg',x_vars=cols[:5],
             plot_kws=dict(line_kws={'color':'red', 'ls':'--'},
                           scatter_kws={'edgecolor':'white','lw':1}));

In [ ]:
# Create Heat Map
corr = df.drop(columns='revenue').corr().abs()
sns.heatmap(corr,square=True, cmap='Greens', annot=True);

In [ ]:
## Calculating the mask to hide the upper-right of the triangle
corr = df.drop(columns='revenue').corr().abs()
mask = np.triu(np.ones_like(corr))
sns.heatmap(corr,square=True, cmap='Greens', annot=True, mask=mask);

In [ ]:
## Adding revenue back to the correlation heatmap
corr = df.corr().abs()
mask = np.triu(np.ones_like(corr))
sns.heatmap(corr,square=True, cmap='Greens', annot=True, mask=mask);

In [ ]:
## Dropping the column showing high corelation
df = df.drop(columns=['numVotes'])

In [ ]:
## Final check for multicollinearity via correlation
corr = df.drop(columns='revenue').corr().abs()
mask = np.triu(np.ones_like(corr))
sns.heatmap(corr,square=True, cmap='Greens', annot=True, mask=mask);

In [ ]:
## Make x and y variables
y = df['revenue'].copy()
X = df.drop(columns=['revenue']).copy()
X_train,X_test, y_train, y_test = train_test_split(X,y, random_state=321)
X_train.head()

In [ ]:
## make cat selector and using it to save list of column names
cat_select = make_column_selector(dtype_include='object')
cat_cols = cat_select(X_train)
cat_cols

In [ ]:
## make num selector and using it to save list of column names
num_select = make_column_selector(dtype_include='number')
num_cols = num_select(X_train)
## make pipelines
cat_pipe = make_pipeline(SimpleImputer(strategy='constant',
                                       fill_value='MISSING'),
                         OneHotEncoder(handle_unknown='ignore', sparse=False)
                        )
num_pipe = make_pipeline(SimpleImputer(strategy='mean'))
preprocessor = make_column_transformer( (num_pipe, num_cols),
                                       (cat_pipe,cat_cols),
                                       remainder='passthrough')
preprocessor

In [ ]:
## fit the col transformer to learn feature names 
preprocessor.fit(X_train)
## Now create list of our final features after preprocessing
final_features = []
## adding the numeric features which process first in the Col Trans
final_features.extend(num_cols)
## Now, get OHe feature names
cat_features = preprocessor.named_transformers_['pipeline-2'][-1].get_feature_names_out(cat_cols)
final_features.extend(cat_features)
## Transform X vars and remake as dataframes
X_train_df = pd.DataFrame( preprocessor.transform(X_train), 
                         columns=final_features, 
                         index=X_train.index)
X_test_df = pd.DataFrame( preprocessor.transform(X_test), 
                         columns=final_features, 
                         index=X_test.index)
X_test_df.head()

In [ ]:
## Adding constants for statsmodels
X_train_df = sm.add_constant(X_train_df, prepend=False)
X_test_df = sm.add_constant(X_test_df, prepend=False)
X_train_df.head(2)

In [ ]:
# make & fit a statmsodels OLS
model = sm.OLS(y_train,X_train_df)
result = model.fit()
print(result.summary())

In [ ]:
# To get our residuals from statsmodels and preview first 5
resid = result.resid
resid.head()

# **Checking Assumption of Homoscedasticity and Checking the Assumption of Normality with Q-QPlots**

In [ ]:
def evaluate_ols(result,X_train_df, y_train):
    """Plots a Q-Q Plot and residual plot for a statsmodels OLS regression.
    """
    
    ## save residuals from result
    y_pred = result.predict(X_train_df)
    resid = y_train - y_pred
    
    fig, axes = plt.subplots(ncols=2,figsize=(12,5))
    ## Normality 
    sm.graphics.qqplot(resid,line='45',fit=True,ax=axes[0]);
    
    ## Homoscedasticity
    ax = axes[1]
    ax.scatter(y_pred, resid, edgecolor='white',lw=1)
    ax.axhline(0,zorder=0)
    ax.set(ylabel='Residuals',xlabel='Predicted Value');
    plt.tight_layout()
    
evaluate_ols(result,X_train_df, y_train)

In [ ]:
scaler = StandardScaler()
z_price = scaler.fit_transform(y_train.values.reshape(-1,1))
z_price

In [ ]:
z_price = pd.Series(z_price.flatten(),index=y_train.index )
z_price

In [ ]:
## saving the true/false result as our outlier index
idx_outliers= z_price>3
idx_outliers

In [ ]:
# How many outliers did we find?
idx_outliers.sum()

In [ ]:
# saving a cleaned version of y_train and X_train with outliers removed
y_train_cln = y_train[~idx_outliers]
X_train_cln = X_train_df[~idx_outliers]

In [ ]:
print(f"Our model includes Revenue:")
print(f"- Greater than ${y_train_cln.min():,.2f}")
print(f"- Less than ${y_train_cln.max():,.2f}")

In [ ]:
# Getting scaled y_test
z_price_test = scaler.transform(y_test.values.reshape(-1,1))
z_price_test = pd.Series(z_price_test.flatten(),index=y_test.index )
# saving the true/false result as our outlier index
idx_outliers_test= z_price_test>3
# how many outleirs in test data?
idx_outliers_test.sum()

In [ ]:
## make clean version of X_test and y_test
X_test_cln = X_test_df[~idx_outliers_test] 
y_test_cln = y_test[~idx_outliers_test]

In [ ]:
## make & fit a statmsodels OLS
model = sm.OLS(y_train_cln,X_train_cln)
result = model.fit()
print(result.summary())
evaluate_ols(result,X_train_cln,y_train_cln)

In [ ]:
## save p-values
p_vals = result.pvalues
## filter for p_values that are >.05
p_vals[p_vals>.05]

In [ ]:
# so how many Series columns do we have overall? 
# use a list comprehension to filter out column sthat start with zipcode
Series_cols = [col for col in X_train_df.columns if col.startswith('Series')]
# preview first few zipcode cols to confirm
Series_cols[:3]

In [ ]:
len(Series_cols)

In [ ]:
## So how many zipcode coeffs are insig?
len(p_vals[p_vals>.05])

In [ ]:
## evaluate test
r2_test = r2_score(y_test_cln, result.predict(X_test_cln))
print(f"R-Squared for Test Data: {r2_test:.2f}")
evaluate_ols(result,X_test_cln, y_test_cln)

In [ ]:
def evaluate_ols(result,X_train_df, y_train):
    """Plots a Q-Q Plot and residual plot for a statsmodels OLS regression.
    
    """
    ## Make predictions and calculate residuals
    y_pred = result.predict(X_train_df)
    resid = y_train - y_pred
    
    fig, axes = plt.subplots(ncols=2,figsize=(12,5))
    ## Normality 
    sm.graphics.qqplot(resid, line='45',fit=True,ax=axes[0]);
    
    ## Homoscedascity
    ax = axes[1]
    ax.scatter(y_pred, resid, edgecolor='white',lw=1)
    ax.axhline(0,zorder=0)
    ax.set(ylabel='Residuals',xlabel='Predicted Value');
    plt.tight_layout()

# **Saving Model**

In [ ]:
## creating a dictionary of all of the variables to save for later
export = {'X_train':X_train_cln,
         'y_train':y_train_cln,
         'X_test':X_test_cln,
         'y_test':y_test_cln,
          'Outlier Scaler':scaler,
          'Column Transformer':preprocessor,
         'OLS Results': result}

In [ ]:
# Create a gzip file containing the joblib file
joblib.dump(export, 'ols_results.joblib.gz', compress=('gzip'))

In [ ]:
loaded_data = joblib.load('ols_results.joblib.gz')
loaded_data.keys()

In [ ]:
## Saving the dictionary data into separate variables
X_train_df = loaded_data['X_train']
y_train = loaded_data['y_train']
X_test_df  = loaded_data['X_test']
y_test = loaded_data['y_test']
##  Saving the model and processing tools to new vars
result = loaded_data['OLS Results']
outlier_scaler = loaded_data['Outlier Scaler']
preprocessor = loaded_data['Column Transformer']

In [ ]:
print(result.summary())
evaluate_ols(result,X_train_df, y_train)

In [ ]:
## Getting statsmodels coefficients
coeffs = result.params
coeffs

In [ ]:
## Getting the True/False for which are zipcode cols
genres_cols = coeffs.index.str.contains('genres')

In [ ]:
## slicing out the zicode coefficents to a separate series
coeffs_genres = coeffs.loc[genres_cols].copy()
coeffs_genres

In [ ]:
# slicing out the zicode coefficents to a separate series
# coeffs_main will have all coefficients EXCEPT those for zip code
coeffs_main = coeffs.loc[~genres_cols].copy()
coeffs_main

In [ ]:
## Sorting the coefficients largest to smallest
coeffs_main = coeffs_main.sort_values(ascending=False)
coeffs_main

In [ ]:

## visualizing variables with large negative ceoffs
fig, axes = plt.subplots(ncols=2, figsize=(12,5),
                         sharey=True)
sns.regplot(x=X_train_df['averageRating'], y=y_train,
            scatter_kws={'ec':'white','lw':1},
            line_kws={'color':'red'}, ax=axes[0])
axes[0].set_title('Average Rating vs Revenue')
sns.regplot(x=X_train_df['runtimeMinutes'], y=y_train,
            scatter_kws={'ec':'white','lw':1},
            line_kws={'color':'red'}, ax=axes[1])
plt.tight_layout()

In [ ]:
ax = coeffs_genres.sort_values().plot(kind='bar',figsize=(12,8))
ax.axhline()
ax.yaxis.set_major_formatter(StrMethodFormatter('${x:,.2f}'))
ax.set_xticklabels(ax.get_xticklabels(), rotation=90,fontsize=8);

In [ ]:
X_train_no_genres = X_train_df.loc[:,~genres_cols]
X_test_no_genres = X_test_df.loc[:,~genres_cols]
display(X_train_no_genres.head(2),
       X_test_no_genres.head(2))

In [ ]:
## Fitting a model without zipcodes 
model = sm.OLS(y_train,X_train_no_genres)
result = model.fit()
display(result.summary())
evaluate_ols(result,X_train_no_genres, y_train)