# **Movie Project Part 3**

Joe Lardie 

March 2023

# **Imports**

In [1]:
# Standard Imports
import json
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import gzip

# Additional Imports
import os, json, math, time
import tmdbsimple as tmdb
from tqdm.notebook import tqdm_notebook

In [2]:
#Load Json File
with open('/Users/davyd/.secret/tmbd_api.json', 'r')as f:
    login = json.load(f)
##Display the keys of the loaded dictionary 
login.keys()

dict_keys(['api-key'])

In [3]:
tmdb.API_KEY =  login['api-key']

In [4]:
def get_movie_with_rating(movie_id):
    """ Adapted from source github/celuao/tmdbsimple"""
    #Get the movie object for the current id
    movie = tmdb.Movies(movie_id)

    # Save the .info .releases dictionaries
    info = movie.info()
    releases = movie.releases()

    # Loop through countries in releases
    for c in releases['countries']:
        # if the country abbreviation == US
        if c['iso_3166_1'] == 'US':
            # save a 'certification' key in info with the certification
            info['certification'] = c['certification']

    return info

In [5]:
# Load JSON file into pandas dataframe
with open('Data/tmdb_api_results_2000.json', 'r') as file:
    data = json.load(file)

df = pd.json_normalize(data)

# Save dataframe as compressed CSV file
with gzip.open('Data/tmdb_api_results_2000.csv.gz', 'wt', encoding='utf8') as file:
    df.to_csv(file, index=False)

In [6]:
# Load in the dataframe from project part 1 as basics:
basics = pd.read_csv('Data/basics_1.csv.gz')

In [7]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002,NaN,126,Drama

In [8]:
ratings = pd.read_csv('data/ratings_1.csv.gz')

In [9]:
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1953
1  tt0000002            5.8       263
2  tt0000005            6.2      2589
3  tt0000006            5.1       177
4  tt0000007            5.4       812

## **Creating MySQL DataBase**

In [10]:
#Create connection string using credintials
# connection = "dialect+driver://username:password@host:port/database"
connection_str = "mysql+pymysql://root:PASSWORD@localhost/Movie"

In [11]:
# Create the engine:
engine = create_engine(connection_str)

NameError: name 'create_engine' is not defined

In [ ]:
# Check if the database exists. If not, create it.
if database_exists(connection_str) == False:
  create_database(connection_str)
else:
  print('The database already exists')

In [ ]:
# Check for database existance:
database_exists(connection_str)

In [ ]:
## Saving dataframes to database
basics.to_sql('title_basics', engine, index=False, if_exists = 'replace')
basics.to_sql('title_ratings', engine, index=False, if_exists = 'replace')
basics.to_sql('title_genres', engine, index=False, if_exists = 'replace')
basics.to_sql('genres',engine, index=False, if_exists = 'replace')
basics.to_sql('tmdb_data',engine, index=False, if_exists = 'replace')

In [ ]:
Title Basics:
Movie ID (tconst)
Primary Title
Start Year
Runtime (in Minutes)
Genres
Title Ratings
Movie ID (tconst)
Average Movie Rating
Number of Votes
The TMDB API Results (multiple files)
Movie ID
Revenue
Budget
Certification (MPAA Rating)