# **Movie Project Part 4**

Joe Lardie 

March 2023

# **Imports**

In [1]:
# Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import gzip
import pymysql
pymysql.install_as_MySQLdb()

# Additional Imports
import os, json, math, time
import tmdbsimple as tmdb
from tqdm.notebook import tqdm_notebook
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
from sqlalchemy.types import *
from urllib.parse import quote_plus
from scipy import stats
import scipy.stats as stats
import glob

In [2]:
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['.ipynb_checkpoints',
 'akas.csv.gz',
 'basics.csv.gz',
 'final_tmdb_data_2000 (1).csv.gz',
 'final_tmdb_data_2000 (2).csv.gz',
 'final_tmdb_data_2000 (3).csv.gz',
 'final_tmdb_data_2000.csv.gz',
 'final_tmdb_data_2001.csv.gz',
 'final_tmdb_data_2002.csv.gz',
 'final_tmdb_data_2003.csv.gz',
 'final_tmdb_data_2004.csv.gz',
 'final_tmdb_data_2005.csv.gz',
 'final_tmdb_data_2006.csv.gz',
 'final_tmdb_data_2007.csv.gz',
 'final_tmdb_data_2008.csv.gz',
 'final_tmdb_data_2009.csv.gz',
 'final_tmdb_data_2010.csv.gz',
 'final_tmdb_data_2011.csv.gz',
 'final_tmdb_data_2012.csv.gz',
 'final_tmdb_data_2013.csv.gz',
 'final_tmdb_data_2014.csv.gz',
 'final_tmdb_data_2015.csv.gz',
 'final_tmdb_data_2016.csv.gz',
 'final_tmdb_data_2017.csv.gz',
 'final_tmdb_data_2018.csv.gz',
 'final_tmdb_data_2019.csv.gz',
 'final_tmdb_data_2020.csv.gz',
 'ratings.csv.gz',
 'tmdb_api_results_2000.csv.gz',
 'tmdb_api_results_2000.json',
 'tmdb_api_results_2001.json',
 'tmdb_api_results_2002.json',
 'tmdb_api_results_2003.json',
 'tmdb_api_results_2004.json',
 'tmdb_api_results_2005.json',
 'tmdb_api_results_2006.json',
 'tmdb_api_results_2007.json',
 'tmdb_api_results_2008.json',
 'tmdb_api_results_2009.json',
 'tmdb_api_results_2010.json',
 'tmdb_api_results_2011.json',
 'tmdb_api_results_2012.json',
 'tmdb_api_results_2013.json',
 'tmdb_api_results_2014.json',
 'tmdb_api_results_2015.json',
 'tmdb_api_results_2016.json',
 'tmdb_api_results_2017.json',
 'tmdb_api_results_2018.json',
 'tmdb_api_results_2019.json',
 'tmdb_api_results_2020.json',
 'tmdb_api_results_2021.json',
 'tmdb_api_results_2022.json',
 'tmdb_results_combined.csv.gz']

In [3]:
# Load in the dataframe from project part 1 as basics:
basics = pd.read_csv('Data/basics.csv.gz')

In [4]:
#Import Ratings data
ratings = pd.read_csv('Data/ratings.csv.gz')

In [5]:
#Import akas data
akas = pd.read_csv('Data/akas.csv.gz')

In [6]:
# Import Basics
tmdb = pd.read_csv('Data/tmdb_results_combined.csv.gz')

In [7]:
def df_to_sql(df,primary=None):
    sql_schema = {key: None for key in df.columns}
    #Create schema to convert col.dtype to sql-types
    for col in df.columns:
       # print (f"{col} is type:{basics[col].dtype}")
        if df[col].dtype == "int64":
            sql_schema[col]=Integer()
        elif df[col].dtype == "float64":
            sql_schema[col]=Float()
        elif df[col].dtype == "object":
            sql_schema[col]=Text(df[col].fillna('').map(len).max()+1)
    if primary != None:
        #Change the primary key to type String(length=...)
        sql_schema[primary] = String(df[primary].fillna('').map(len).max()+1)
    return sql_schema

## **Creating MySQL DataBase**

In [8]:
#Create connection string using credintials
# connection = "dialect+driver://username:password@host:port/database"
connection_str = "mysql+pymysql://root:Root@localhost/movie"

In [9]:
# Create the engine:
engine = create_engine(connection_str)

In [10]:
# Check if the database exists. If not, create it.
if database_exists(connection_str) == False:
  create_database(connection_str)
else:
  print('The database already exists')

The database already exists

In [11]:
# Check for database existance:
database_exists(connection_str)

True

In [12]:
#Check the dtypes of your dataframe: (df.dtypes).
basics.dtypes

tconst             object
titleType          object
primaryTitle       object
originalTitle      object
isAdult             int64
startYear           int64
endYear           float64
runtimeMinutes    float64
genres             object
dtype: object

In [13]:
#Use custom function to convert to sql-ready
basics_schema = df_to_sql(basics,"tconst")
basics_schema

{'tconst': String(length=11),
 'titleType': Text(length=6),
 'primaryTitle': Text(length=243),
 'originalTitle': Text(length=243),
 'isAdult': Integer(),
 'startYear': Integer(),
 'endYear': Float(),
 'runtimeMinutes': Float(),
 'genres': Text(length=30)}

In [14]:
# Save to sql with dtype and index=False
basics.to_sql('title_basics',engine,dtype=basics_schema,if_exists='replace',
              index=False)

100527

In [15]:
#Run the query to ADD PRIMARY KEY
engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')

In [16]:
#Query the table and show first 5 rows
q = '''
SELECT *
FROM title_basics
Limit 5;
'''
pd.read_sql_query(q, engine)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,None,118.0,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,None,70.0,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,None,122.0,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,None,100.0,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002,None,126.0,Drama

In [17]:
ratings.columns

Index(['tconst', 'averageRating', 'numVotes'], dtype='object')

In [18]:
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1959
1  tt0000002            5.8       264
2  tt0000005            6.2      2596
3  tt0000006            5.1       177
4  tt0000007            5.4       815

In [19]:
ratings['tconst'].unique()

array(['tt0000001', 'tt0000002', 'tt0000005', ..., 'tt9916348',
       'tt9916362', 'tt9916428'], dtype=object)

In [20]:
#Create a ratings_id map by pairing the unique ratings with an incrementing integer
ratings_id = range(len(ratings['tconst'].unique()))
ratings_map = dict(zip(ratings['tconst'].unique(), ratings_id))
#Add ratings_id primary key column
ratings["id"] = ratings["tconst"].map(ratings_map)

In [21]:
ratings.head()

      tconst  averageRating  numVotes  id
0  tt0000001            5.7      1959   0
1  tt0000002            5.8       264   1
2  tt0000005            6.2      2596   2
3  tt0000006            5.1       177   3
4  tt0000007            5.4       815   4

In [22]:
ratings_schema = df_to_sql(ratings)
ratings_schema

{'tconst': Text(length=11),
 'averageRating': Float(),
 'numVotes': Integer(),
 'id': Integer()}

In [23]:
# Save to sql with dtype and index=False
ratings.to_sql('title_ratings',engine,dtype=ratings_schema,if_exists='replace',
              index=False)

492216

In [24]:
#Run the query to ADD PRIMARY KEY
engine.execute('ALTER TABLE title_ratings ADD PRIMARY KEY (`id`);')

In [25]:
#Query the table and show first 5 rows
q = '''
SELECT *
FROM title_ratings
Limit 5;
'''
pd.read_sql_query(q, engine)

      tconst  averageRating  numVotes  id
0  tt0000001            5.7      1959   0
1  tt0000002            5.8       264   1
2  tt0000005            6.2      2596   2
3  tt0000006            5.1       177   3
4  tt0000007            5.4       815   4

In [26]:
## create a col with a list of genres
basics['genres_split'] = basics['genres'].str.split(',')
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118.0,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70.0,Drama,[Drama]
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122.0,Drama,[Drama]
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100.0,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002,NaN,126.0,Drama,[Drama]
...,...,...,...,...,...,...,...,...,...,...
100522,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019,NaN,97.0,"Comedy,Drama,Fantasy","[Comedy, Drama, Fantasy]"
100523,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,NaN,51.0,Drama,[Drama]
100524,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,95.0,"Action,Adventure,Thriller","[Action, Adventure, Thriller]"
100525,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92.0,"Drama,History","[Drama, History]"
100526,tt9916428,movie,The Secret of China,Hong xing zhao yao Zhong guo,0,2019,NaN,NaN,"Adventure,History,War","[Adventure, History, War]"

In [27]:
exploded_genres = basics.explode('genres_split')
exploded_genres

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118.0,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118.0,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118.0,"Comedy,Fantasy,Romance",Romance
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70.0,Drama,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122.0,Drama,Drama
...,...,...,...,...,...,...,...,...,...,...
100525,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92.0,"Drama,History",Drama
100525,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92.0,"Drama,History",History
100526,tt9916428,movie,The Secret of China,Hong xing zhao yao Zhong guo,0,2019,NaN,NaN,"Adventure,History,War",Adventure
100526,tt9916428,movie,The Secret of China,Hong xing zhao yao Zhong guo,0,2019,NaN,NaN,"Adventure,History,War",History
100526,tt9916428,movie,The Secret of China,Hong xing zhao yao Zhong guo,0,2019,NaN,NaN,"Adventure,History,War",War

In [28]:
unique_genres = sorted(exploded_genres['genres_split'].unique())

In [29]:
## Save just tconst and genres_split as new df
title_genres = exploded_genres[['tconst', 'genres_split']].copy()
title_genres.head()

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0062336        Drama
2  tt0069049        Drama

In [30]:
## Making the genre mapper dictionary
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Short': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

In [31]:
## Make a dictionary with list of unique genres as the key and the new iteger id as values
genre_id_map = dict(zip(unique_genres, range(len(unique_genres))))
genre_id_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Short': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

In [32]:
basics['genres_split'] = basics['genres_split'].apply(lambda x: tuple(x))

In [33]:
## make new integer genre_id and drop string genres
basics['genre_id'] = basics['genres_split'].map(genre_map)
basics = basics.drop(columns='genres_split')

In [34]:
## Manaully make dataframe with named cols from the .keyd and .values
genre_lookup = pd.DataFrame ({'Genre_Name': genre_id_map.keys(),
                             'genre_ID':genre_id_map.values()})
genre_lookup.head()

  Genre_Name  genre_ID
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

In [35]:
basics['int_index'] = range(len(basics))

In [36]:
## get max string length
max_str_len = basics['genres'].fillna('').map(len).max()

In [37]:
## Calculate max string lengths for object columns
key_len = basics['tconst'].fillna('').map(len).max()
title_len = basics['primaryTitle'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    "tconst": String(key_len+1), 
    "primaryTitle": Text(title_len+1),
    'startYear':Float(),
    'endYear':Float(),
    'runtimeMinutes':Integer()}

In [38]:
# Save to sql with dtype and index=False
basics.to_sql('title_basics',engine,dtype=df_schema,if_exists='replace',index=False)

100527

In [39]:
#Check the dtypes of your dataframe: (df.dtypes).
title_genres.columns

Index(['tconst', 'genres_split'], dtype='object')

In [40]:
#Use custom function to convert to sql-ready
title_genres_schema = df_to_sql(title_genres)
title_genres_schema

{'tconst': Text(length=11), 'genres_split': Text(length=11)}

In [41]:
# Save to sql with dtype and index=False
title_genres.to_sql('title_genres',engine,dtype=title_genres_schema,if_exists='replace',
              index=False)

179656

In [42]:
#Query the table and show first 5 rows
q = '''
SELECT *
FROM title_genres
Limit 5;
'''
pd.read_sql_query(q, engine)

      tconst genres_split
0  tt0035423       Comedy
1  tt0035423      Fantasy
2  tt0035423      Romance
3  tt0062336        Drama
4  tt0069049        Drama

In [43]:
genres = pd.DataFrame(basics)

In [44]:
genres.columns

Index(['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult',
       'startYear', 'endYear', 'runtimeMinutes', 'genres', 'genre_id',
       'int_index'],
      dtype='object')

In [45]:
#Use custom function to convert to sql-ready
genres_schema = df_to_sql(genres)
genres_schema

{'tconst': Text(length=11),
 'titleType': Text(length=6),
 'primaryTitle': Text(length=243),
 'originalTitle': Text(length=243),
 'isAdult': Integer(),
 'startYear': Integer(),
 'endYear': Float(),
 'runtimeMinutes': Float(),
 'genres': Text(length=30),
 'genre_id': Float(),
 'int_index': Integer()}

In [46]:
# Save to sql with dtype and index=False
genres.to_sql('genres',engine,dtype=genres_schema,if_exists='replace',
              index=False)

100527

In [47]:
#Query the table and show first 5 rows
q = '''
SELECT *
FROM genres
Limit 5;
'''
pd.read_sql_query(q, engine)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genre_id,int_index
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,None,118.0,"Comedy,Fantasy,Romance",None,0
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,None,70.0,Drama,None,1
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,None,122.0,Drama,None,2
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,None,100.0,"Comedy,Horror,Sci-Fi",None,3
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002,None,126.0,Drama,None,4

In [48]:
tmdb.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,花樣年華,...,12854953.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.115,2133.0,PG
1,tt0120467,0.0,/knok3mNReKqPTplnnqz7E4dd7mD.jpg,NaN,120000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",NaN,19085.0,en,Vulgar,...,14904.0,87.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Everyone loves a clown... some more than others.,Vulgar,0.0,5.500,44.0,R
2,tt0120630,0.0,/t7aJ7hqsMLEoqBJk7yAXxcAVvcz.jpg,"{'id': 718551, 'name': 'Chicken Run Collection...",45000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",NaN,7443.0,en,Chicken Run,...,224834564.0,84.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,This ain't no chick flick. It's poultry in mot...,Chicken Run,0.0,6.740,4293.0,G
3,tt0120753,0.0,/3vUkQpnwbsFEQlMh9EORpvKJfpo.jpg,NaN,8000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,318.0,en,The Million Dollar Hotel,...,105983.0,122.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Everyone has something to hide.,The Million Dollar Hotel,0.0,5.900,270.0,R
4,tt0120755,0.0,/24DZfupDlhXeTchmcOkoGRhP5Vg.jpg,"{'id': 87359, 'name': 'Mission: Impossible Col...",125000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",NaN,955.0,en,Mission: Impossible II,...,546388105.0,123.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Expect the impossible again.,Mission: Impossible II,0.0,6.112,5657.0,PG-13

In [49]:
tmdb.columns

Index(['imdb_id', 'adult', 'backdrop_path', 'belongs_to_collection', 'budget',
       'genres', 'homepage', 'id', 'original_language', 'original_title',
       'overview', 'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'certification'],
      dtype='object')

In [50]:
#You only need to keep the imdb_id, revenue, budget, and certification columns
tmdb_req = tmdb[["imdb_id","revenue","budget","certification"]]

In [51]:
#Use custom function to convert to sql-ready
tmdb_schema = df_to_sql(tmdb_req,"imdb_id")
tmdb_schema

{'imdb_id': String(length=11),
 'revenue': Float(),
 'budget': Float(),
 'certification': Text(length=6)}

In [52]:
# Save to sql with dtype and index=False
tmdb_req.to_sql('tmdb_data',engine,dtype=tmdb_schema,if_exists='replace',
              index=False)

1810

In [53]:
#Query the table and show first 5 rows
q = '''
SELECT *
FROM tmdb_data
Limit 5;
'''
pd.read_sql_query(q, engine)

     imdb_id      revenue       budget certification
0  tt0118694   12855000.0     150000.0            PG
1  tt0120467      14904.0     120000.0             R
2  tt0120630  224835000.0   45000000.0             G
3  tt0120753     105983.0    8000000.0             R
4  tt0120755  546388000.0  125000000.0         PG-13

## **Part 4**

In [54]:
# Recursive query - extra /**/ added to string
q = "Data/tmdb_results_combined.csv.gz" 
tmdb_results_combined = sorted(glob.glob(q)) 
# Showing the first 5 
tmdb_results_combined[:5]

['Data/tmdb_results_combined.csv.gz']

In [55]:
## Loading all files as df and appending to a list
df_list = []
for file in tmdb_results_combined:
    tmdb_df = pd.read_csv(file, index_col=0)
    df_list.append(tmdb_df)
    
## Concatenating the list of dfs into 1 combined
df_combined = pd.concat(df_list)
df_combined

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
imdb_id,,,,,,,,,,,,,,,,,,,,,
tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,花樣年華,"Hong Kong, 1962: Chow Mo-Wan and Su Li-Zhen mo...",...,12854953.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.115,2133.0,PG
tt0120467,0.0,/knok3mNReKqPTplnnqz7E4dd7mD.jpg,NaN,120000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",NaN,19085.0,en,Vulgar,Vulgar is about a man who is a children's clow...,...,14904.0,87.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Everyone loves a clown... some more than others.,Vulgar,0.0,5.500,44.0,R
tt0120630,0.0,/t7aJ7hqsMLEoqBJk7yAXxcAVvcz.jpg,"{'id': 718551, 'name': 'Chicken Run Collection...",45000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",NaN,7443.0,en,Chicken Run,Having been hopelessly repressed and facing ev...,...,224834564.0,84.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,This ain't no chick flick. It's poultry in mot...,Chicken Run,0.0,6.740,4293.0,G
tt0120753,0.0,/3vUkQpnwbsFEQlMh9EORpvKJfpo.jpg,NaN,8000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,318.0,en,The Million Dollar Hotel,The Million Dollar Hotel starts with a jump fr...,...,105983.0,122.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Everyone has something to hide.,The Million Dollar Hotel,0.0,5.900,270.0,R
tt0120755,0.0,/24DZfupDlhXeTchmcOkoGRhP5Vg.jpg,"{'id': 87359, 'name': 'Mission: Impossible Col...",125000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",NaN,955.0,en,Mission: Impossible II,With computer genius Luther Stickell at his si...,...,546388105.0,123.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Expect the impossible again.,Mission: Impossible II,0.0,6.112,5657.0,PG-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9735462,0.0,/18diCYWCxODOpeJNV89hoPyobxj.jpg,NaN,25900000.0,"[{'id': 10402, 'name': 'Music'}, {'id': 35, 'n...",NaN,498402.0,fr,Aline,"A fictionalized biopic of Aline Dieu, a multit...",...,11131254.0,126.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,A fiction freely inspired by the life of Célin...,Aline,0.0,6.827,269.0,PG-13
tt9770150,0.0,/563sRDK3rZS31TXCdTY4lfcwrNK.jpg,NaN,5000000.0,"[{'id': 18, 'name': 'Drama'}]",https://www.searchlightpictures.com/nomadland,581734.0,en,Nomadland,A woman in her sixties embarks on a journey th...,...,14784114.0,108.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,See you down the road.,Nomadland,0.0,7.261,2570.0,R
tt9839038,0.0,/gq9FvopuQeGs6TKljGghefC14uD.jpg,"{'id': 723457, 'name': 'Jim Button Collection'...",20000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",NaN,616180.0,de,Jim Knopf und die Wilde 13,A year has gone by since Jim Button and his be...,...,6700000.0,110.0,"[{'english_name': 'German', 'iso_639_1': 'de',...",Released,NaN,Jim Button and the Wild 13,0.0,6.200,30.0,NaN
tt9877170,0.0,/3e46k8KPCs1N7luAqNDFZFzrbbE.jpg,NaN,7907534.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 28, ...",NaN,661043.0,hi,मलंग,"Advait visits Goa where he meets Sara, a free-...",...,11136444.0,135.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,Unleash The Madness,Malang,0.0,7.256,39.0,NaN
tt9883996,0.0,/wkaKu3gwAcw3n1mqfFmwNfPGasX.jpg,NaN,20000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",https://bleeckerstreetmedia.com/dream-horse,603206.0,en,Dream Horse,"The inspiring true story of Dream Alliance, an...",...,6435260.0,113.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Hearts will race.,Dream Horse,0.0,7.101,89.0,NaN

In [56]:
## Loading and Concatenating the list of dfs with 1 line
df_combined = pd.concat([pd.read_csv(file, index_col=0) for file in tmdb_results_combined])
df_combined

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
imdb_id,,,,,,,,,,,,,,,,,,,,,
tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,花樣年華,"Hong Kong, 1962: Chow Mo-Wan and Su Li-Zhen mo...",...,12854953.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.115,2133.0,PG
tt0120467,0.0,/knok3mNReKqPTplnnqz7E4dd7mD.jpg,NaN,120000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",NaN,19085.0,en,Vulgar,Vulgar is about a man who is a children's clow...,...,14904.0,87.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Everyone loves a clown... some more than others.,Vulgar,0.0,5.500,44.0,R
tt0120630,0.0,/t7aJ7hqsMLEoqBJk7yAXxcAVvcz.jpg,"{'id': 718551, 'name': 'Chicken Run Collection...",45000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",NaN,7443.0,en,Chicken Run,Having been hopelessly repressed and facing ev...,...,224834564.0,84.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,This ain't no chick flick. It's poultry in mot...,Chicken Run,0.0,6.740,4293.0,G
tt0120753,0.0,/3vUkQpnwbsFEQlMh9EORpvKJfpo.jpg,NaN,8000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,318.0,en,The Million Dollar Hotel,The Million Dollar Hotel starts with a jump fr...,...,105983.0,122.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Everyone has something to hide.,The Million Dollar Hotel,0.0,5.900,270.0,R
tt0120755,0.0,/24DZfupDlhXeTchmcOkoGRhP5Vg.jpg,"{'id': 87359, 'name': 'Mission: Impossible Col...",125000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",NaN,955.0,en,Mission: Impossible II,With computer genius Luther Stickell at his si...,...,546388105.0,123.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Expect the impossible again.,Mission: Impossible II,0.0,6.112,5657.0,PG-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9735462,0.0,/18diCYWCxODOpeJNV89hoPyobxj.jpg,NaN,25900000.0,"[{'id': 10402, 'name': 'Music'}, {'id': 35, 'n...",NaN,498402.0,fr,Aline,"A fictionalized biopic of Aline Dieu, a multit...",...,11131254.0,126.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,A fiction freely inspired by the life of Célin...,Aline,0.0,6.827,269.0,PG-13
tt9770150,0.0,/563sRDK3rZS31TXCdTY4lfcwrNK.jpg,NaN,5000000.0,"[{'id': 18, 'name': 'Drama'}]",https://www.searchlightpictures.com/nomadland,581734.0,en,Nomadland,A woman in her sixties embarks on a journey th...,...,14784114.0,108.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,See you down the road.,Nomadland,0.0,7.261,2570.0,R
tt9839038,0.0,/gq9FvopuQeGs6TKljGghefC14uD.jpg,"{'id': 723457, 'name': 'Jim Button Collection'...",20000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",NaN,616180.0,de,Jim Knopf und die Wilde 13,A year has gone by since Jim Button and his be...,...,6700000.0,110.0,"[{'english_name': 'German', 'iso_639_1': 'de',...",Released,NaN,Jim Button and the Wild 13,0.0,6.200,30.0,NaN
tt9877170,0.0,/3e46k8KPCs1N7luAqNDFZFzrbbE.jpg,NaN,7907534.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 28, ...",NaN,661043.0,hi,मलंग,"Advait visits Goa where he meets Sara, a free-...",...,11136444.0,135.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,Unleash The Madness,Malang,0.0,7.256,39.0,NaN
tt9883996,0.0,/wkaKu3gwAcw3n1mqfFmwNfPGasX.jpg,NaN,20000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",https://bleeckerstreetmedia.com/dream-horse,603206.0,en,Dream Horse,"The inspiring true story of Dream Alliance, an...",...,6435260.0,113.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Hearts will race.,Dream Horse,0.0,7.101,89.0,NaN

In [57]:
movie_df = df_combined

In [58]:
# Reset index to be continuous
movie_df = df_combined.copy().reset_index()
movie_df

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,花樣年華,...,12854953.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.115,2133.0,PG
1,tt0120467,0.0,/knok3mNReKqPTplnnqz7E4dd7mD.jpg,NaN,120000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",NaN,19085.0,en,Vulgar,...,14904.0,87.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Everyone loves a clown... some more than others.,Vulgar,0.0,5.500,44.0,R
2,tt0120630,0.0,/t7aJ7hqsMLEoqBJk7yAXxcAVvcz.jpg,"{'id': 718551, 'name': 'Chicken Run Collection...",45000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",NaN,7443.0,en,Chicken Run,...,224834564.0,84.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,This ain't no chick flick. It's poultry in mot...,Chicken Run,0.0,6.740,4293.0,G
3,tt0120753,0.0,/3vUkQpnwbsFEQlMh9EORpvKJfpo.jpg,NaN,8000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,318.0,en,The Million Dollar Hotel,...,105983.0,122.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Everyone has something to hide.,The Million Dollar Hotel,0.0,5.900,270.0,R
4,tt0120755,0.0,/24DZfupDlhXeTchmcOkoGRhP5Vg.jpg,"{'id': 87359, 'name': 'Mission: Impossible Col...",125000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",NaN,955.0,en,Mission: Impossible II,...,546388105.0,123.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Expect the impossible again.,Mission: Impossible II,0.0,6.112,5657.0,PG-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1805,tt9735462,0.0,/18diCYWCxODOpeJNV89hoPyobxj.jpg,NaN,25900000.0,"[{'id': 10402, 'name': 'Music'}, {'id': 35, 'n...",NaN,498402.0,fr,Aline,...,11131254.0,126.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,A fiction freely inspired by the life of Célin...,Aline,0.0,6.827,269.0,PG-13
1806,tt9770150,0.0,/563sRDK3rZS31TXCdTY4lfcwrNK.jpg,NaN,5000000.0,"[{'id': 18, 'name': 'Drama'}]",https://www.searchlightpictures.com/nomadland,581734.0,en,Nomadland,...,14784114.0,108.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,See you down the road.,Nomadland,0.0,7.261,2570.0,R
1807,tt9839038,0.0,/gq9FvopuQeGs6TKljGghefC14uD.jpg,"{'id': 723457, 'name': 'Jim Button Collection'...",20000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",NaN,616180.0,de,Jim Knopf und die Wilde 13,...,6700000.0,110.0,"[{'english_name': 'German', 'iso_639_1': 'de',...",Released,NaN,Jim Button and the Wild 13,0.0,6.200,30.0,NaN
1808,tt9877170,0.0,/3e46k8KPCs1N7luAqNDFZFzrbbE.jpg,NaN,7907534.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 28, ...",NaN,661043.0,hi,मलंग,...,11136444.0,135.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,Unleash The Madness,Malang,0.0,7.256,39.0,NaN
1809,tt9883996,0.0,/wkaKu3gwAcw3n1mqfFmwNfPGasX.jpg,NaN,20000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",https://bleeckerstreetmedia.com/dream-horse,603206.0,en,Dream Horse,...,6435260.0,113.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Hearts will race.,Dream Horse,0.0,7.101,89.0,NaN

In [59]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1810 entries, 0 to 1809
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                1810 non-null   object
 1   adult                  1810 non-null   float64
 2   backdrop_path          1741 non-null   object
 3   belongs_to_collection  397 non-null    object
 4   budget                 1810 non-null   float64
 5   genres                 1810 non-null   object
 6   homepage               892 non-null    object
 7   id                     1810 non-null   float64
 8   original_language      1810 non-null   object
 9   original_title         1810 non-null   object
 10  overview               1808 non-null   object
 11  popularity             1810 non-null   float64
 12  poster_path            1799 non-null   object
 13  production_companies   1810 non-null   object
 14  production_countries   1810 non-null   object
 15  release_date           1802 non-null   object
 16  revenue                1810 non-null   float64
 17  runtime                1810 non-null   float64
 18  spoken_languages       1810 non-null   object
 19  status                 1810 non-null   object
 20  tagline                1398 non-null   object
 21  title                  1810 non-null   object
 22  video                  1810 non-null   float64
 23  vote_average           1810 non-null   float64
 24  vote_count             1810 non-null   float64
 25  certification          1273 non-null   object
dtypes: float64(9), object(17)
memory usage: 367.8+ KB

In [60]:
# I only need imdb_id, budget, revenue, and certification
movie_df = movie_df[['imdb_id', 'budget', 'revenue', 'certification']]
movie_df

        imdb_id       budget      revenue certification
0     tt0118694     150000.0   12854953.0            PG
1     tt0120467     120000.0      14904.0             R
2     tt0120630   45000000.0  224834564.0             G
3     tt0120753    8000000.0     105983.0             R
4     tt0120755  125000000.0  546388105.0         PG-13
...         ...          ...          ...           ...
1805  tt9735462   25900000.0   11131254.0         PG-13
1806  tt9770150    5000000.0   14784114.0             R
1807  tt9839038   20000000.0    6700000.0           NaN
1808  tt9877170    7907534.0   11136444.0           NaN
1809  tt9883996   20000000.0    6435260.0           NaN

[1810 rows x 4 columns]

In [61]:
movie_df.duplicated().sum()

0

In [62]:
movie_df.drop_duplicates(inplace = True)

C:\Users\davyd\AppData\Local\Temp\ipykernel_14840\3792759633.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_df.drop_duplicates(inplace = True)

In [63]:
movie_df.isna().sum()

imdb_id            0
budget             0
revenue            0
certification    537
dtype: int64

In [64]:
movie_df.dropna(inplace = True)

C:\Users\davyd\AppData\Local\Temp\ipykernel_14840\462143916.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_df.dropna(inplace = True)

In [65]:
movie_df.isna().sum()

imdb_id          0
budget           0
revenue          0
certification    0
dtype: int64

In [66]:
display(movie_df.info(), movie_df.head())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1273 entries, 0 to 1806
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   imdb_id        1273 non-null   object
 1   budget         1273 non-null   float64
 2   revenue        1273 non-null   float64
 3   certification  1273 non-null   object
dtypes: float64(2), object(2)
memory usage: 49.7+ KB

None

     imdb_id       budget      revenue certification
0  tt0118694     150000.0   12854953.0            PG
1  tt0120467     120000.0      14904.0             R
2  tt0120630   45000000.0  224834564.0             G
3  tt0120753    8000000.0     105983.0             R
4  tt0120755  125000000.0  546388105.0         PG-13

In [67]:
# Rename imdb_id as 'tconst' to match basics
movie_df.rename(columns = {'imdb_id': 'tconst'}, inplace = True)
movie_df.head()

C:\Users\davyd\AppData\Local\Temp\ipykernel_14840\2790783377.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_df.rename(columns = {'imdb_id': 'tconst'}, inplace = True)

      tconst       budget      revenue certification
0  tt0118694     150000.0   12854953.0            PG
1  tt0120467     120000.0      14904.0             R
2  tt0120630   45000000.0  224834564.0             G
3  tt0120753    8000000.0     105983.0             R
4  tt0120755  125000000.0  546388105.0         PG-13

In [68]:
# Now, lod in title basics
basics = pd.read_csv('Data/basics.csv.gz')
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118.0,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70.0,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122.0,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100.0,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002,NaN,126.0,Drama
...,...,...,...,...,...,...,...,...,...
100522,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019,NaN,97.0,"Comedy,Drama,Fantasy"
100523,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,NaN,51.0,Drama
100524,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,95.0,"Action,Adventure,Thriller"
100525,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92.0,"Drama,History"
100526,tt9916428,movie,The Secret of China,Hong xing zhao yao Zhong guo,0,2019,NaN,NaN,"Adventure,History,War"

In [69]:
# Drop a couple unnecessary columns
basics = basics.drop(columns = ['isAdult', 'titleType'])
basics.head()

,tconst,primaryTitle,originalTitle,startYear,endYear,runtimeMinutes,genres
0,tt0035423,Kate & Leopold,Kate & Leopold,2001,NaN,118.0,"Comedy,Fantasy,Romance"
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,2020,NaN,70.0,Drama
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,NaN,122.0,Drama
3,tt0088751,The Naked Monster,The Naked Monster,2005,NaN,100.0,"Comedy,Horror,Sci-Fi"
4,tt0096056,Crime and Punishment,Crime and Punishment,2002,NaN,126.0,Drama

In [73]:
# Drop "originalTitle"
df = movie_df.drop(columns = 'originalTitle')

KeyError: "['originalTitle'] not found in axis"

In [ ]:
# Now, we need to load in and add or title ratings
ratings = pd.read_csv('Data/ratings.csv.gz')
ratings.head()

In [ ]:
# Merg this with our df
df = pd.merge(df, ratings, on = 'tconst', how = 'right')
df.head()

In [ ]:
# Drop rows with NaN values in the 'primaryTitle'
df = df.dropna(subset = 'primaryTitle')

In [ ]:
df.head()

In [ ]:
# Try to assess Certification
df['certification'].value_counts()

In [ ]:
# Drop Certifications that are not of interest

df['certification'] = df['certification'].replace({'-':'drop', 'NC-17':'drop',
                                                   'NR':'drop', '10': 'drop',
                                                   'Unrated':'drop'})
# Filter out rows with 'drop' in the certification column
df = df[df.certification != 'drop']
df['certification'].value_counts()

In [ ]:
df['certification'].describe()

In [ ]:
# Replace the single R anf PG-13 values
df['certification'] = df['certification'].replace({'R ':'R', 'PG-13 ': 'PG-13'})
df['certification'].value_counts()

In [ ]:
df.isna().sum()

In [ ]:
df.info()

## **Hypothesis Testing**

- The stakeholder's 1st question is: does the MPAA rating of a movie (G/PG/PG-13/R) affect how much revenue the movie generates?

Null Hypothesis:There is no difference in revenue generation between different movie ratings

Alternate Hypothesis:There will be a statistical difference between revenue generation between movie certification

Alpha = 0.05
We will be using an ANOVA Test

In [ ]:
# Make a copy df
anova_df = df.copy()

In [ ]:

# Drop 0.0 revenue values
anova_df = anova_df[anova_df.revenue != 0.0]

In [ ]:
# Simply to show our certifications and revenue BEFORE removing outliers
sns.barplot(data = anova_df, x = 'certification', y = 'revenue');

We need to assess for outliers using Tukey's rule for Outliers
Tukey's rule states that outliers are those values more than 1.5 times the IQR (Interquartile Range).
This means values either:
1.5 times lower than Q1 (Q1 - 1.5IQR)
1.5 times higher than Q3 (Q3 + 1.5IQR)
Therefore, we need to calculate our Q1, Q3, and IQR. Then, we can find our upper and lower limits, and drop outliers outside that range.

The below code was adapted from: https://www.youtube.com/watch?v=A3gClkblXK8

In [ ]:
# Calculate Q1 and Q2
Q1 = anova_df.revenue.quantile(0.25)
Q3 = anova_df.revenue.quantile(0.75)
Q1, Q3

In [ ]:
# Calculate IQR
IQR = Q3 - Q1
IQR

In [ ]:
# Set upper and lower limit
lower_limit = Q1 - (1.5 * IQR)
upper_limit = Q3 + (1.5 * IQR)
lower_limit, upper_limit

In [ ]:
# Now, we will find and list our outliers
anova_df[(anova_df.revenue < lower_limit) | (anova_df.revenue > upper_limit)]

In [ ]:
anova_no_outliers = anova_df[(anova_df.revenue > lower_limit) & (anova_df.revenue < upper_limit)]
anova_no_outliers
    # We can see below (from our row count) tha we have eliminated our outliers

In [ ]:
# We need to separate and analyze our groups individually. We have 4 ratings
certifications = {}

# Loop through all unique characteristics
for i in anova_no_outliers['certification'].unique():
    data = anova_no_outliers.loc[anova_no_outliers['certification'] == i,
                                 'revenue'].copy()
    
    # Save results in dictionary
    certifications[i] = data
    
certifications.keys()

In [ ]:
# Now, we can assess normality of our certifications (groups)
norm_results = {}

for i, data in certifications.items():
    stat, p = stats.normaltest(data)
    
    # Append norm_results with p-values, test stats, and size of region group
    norm_results[i] = {'n': len(data), 'p': p, 'test stat': stat,}
    
# Convert to a DF
norm_results_df = pd.DataFrame(norm_results).T
norm_results_df

In [ ]:
# Check sign (statistical significance) in pandas (more ledgible)
norm_results_df['sig'] = norm_results_df['p'] < 0.05
norm_results_df


We confirm that all regions do NOT have normal distribution.
We have large enough groups to ignore the assumption of normality

In [ ]:
# Testing groups for equal varience (levene test)
stats.levene(*certifications.values())

We did not meet the assumption of equal variance, but we can still perform a one-way ANOVA test using the Kruskal-Wallis test (Nonparametric test)

In [ ]:
results_anova = stats.kruskal(*certifications.values())
results_anova

In [ ]:
# A quick visualization of our data WITHOUT outliers
sns.barplot(data = anova_no_outliers, x = 'certification', y = 'revenue');

To take this one step further, this is likely do to larger crowd appeal due to lack of age restrictions of lower certifications, meaning more people view these movies. Also parents must buy tickets for both their children, and themselves when going to see a G movie (potentially, more overall tickets sold)
Our result is < (less than) our Alpha of 0.05, which means we:
REJECT the Null Hypothesis (There is no difference in revenue generation between different movie ratings)
SUPPORT the Alternate Hypothesis (There will be a statistical difference between revenue generation between movie certification)
The stakeholder's SECOND question is: Do movies with a runtime of 2 hours or more have higher budgets?
Null Hypothesis:
There is no difference in budget amounts for movies of 2 hours or more than movies shorter than 2 hours
Alternate Hypothesis:
There will be a statistical difference between budget amounts for movies of 2 hours or more than movies shorter than 2 hours
Alpha = 0.05
We will be using an 2 sample T-test

In [ ]:
# Create new DF with no budget values = 0
length_df = df.copy()
length_df = length_df[length_df.budget != 0.0]

In [ ]:
# Create 2 dfs for long and short movies
long_movie = length_df.loc[df['runtimeMinutes'] >= 120.0].copy()
short_movie = length_df.loc[df['runtimeMinutes'] < 120.0].copy()

# Get new movie DF info
display(long_movie.info(), short_movie.info())

In [ ]:
# Create a num boolean column to help us with visualizations
length_df['short_movie'] = length_df[['runtimeMinutes']].sum(axis = 1) < 120.0 
length_df

Visualizing average budget differences between short (<120min) movies and long (>=120min) movies

In [ ]:
# Visualize before dealing with outliers
fig, ax = plt.subplots(figsize = (4.2, 4.2))
sns.barplot(data = length_df, x = 'short_movie', y = 'budget', 
            hue = 'short_movie')
plt.title('Average buget by movie length');

In [ ]:
# Drop null values so they don't interfere with our statistical test
long_movie.dropna(inplace = True)
short_movie.dropna(inplace = True)

In [ ]:
display(long_movie.info(), short_movie.info())

In [ ]:
# Define features of interest
long_budget = long_movie['budget']
short_budget = short_movie['budget']

In [ ]:
# Check for outliers separately in both groups
zscores_long = stats.zscore(long_budget)
outliers = abs(zscores_long) > 3
np.sum(outliers)

In [ ]:
# Check for outliers separately in both groups
zscores_short = stats.zscore(short_budget)
outliers = abs(zscores_short) > 3
np.sum(outliers)

In [ ]:
# Remove Outliers
long_budget = long_budget[(np.abs(stats.zscore(long_budget)) < 3)]
short_budget = short_budget[(np.abs(stats.zscore(short_budget)) < 3)]

In [ ]:
# Check for normality
result_long_movie = stats.normaltest(long_budget)
result_long_movie

In [ ]:
# Check for normality
result_short_movie = stats.normaltest(short_budget)
result_short_movie

Both normality tests resulted in a p-value far below 0.05, indicting they are NOT normally distributed
We will continue with our tests, however, because the group sizes are larger than 15

In [ ]:
# Use Levene test to check for equal variance
result_levene = stats.levene(long_budget, short_budget)
result_levene

Our groups do NOT have equal variance
Therefore we will include "equal_var = False" in our T-Test

In [ ]:
# Independent t-test with equal var set to False
result_ttest = stats.ttest_ind(long_budget, short_budget,
                               equal_var = False)
result_ttest

Our result is < (less than) our Alpha of 0.05, which means we:
REJECT the Null Hypothesis (There is no difference in budget amounts for movies of 2 hours or more than movies shorter than 2 hours)
SUPPORT the Alternate Hypothesis (There will be a statistical difference between budget amounts for movies of 2 hours or more than movies shorter than 2 hours)

The stakeholder's THIRD question is: Does the certification (G, PG, PG-13, R) of a movie affect the movie's average rating?

Null Hypothesis:There is no difference in ratings between movie certifications

Alternate Hypothesis:There will be a statistical difference in ratings between movie certifications

Alpha = 0.05
We will be using an ANOVA Test

In [ ]:
# We will follow similar steps to those used in question ONE
# Make a copy df
anova_df2 = df.copy()

In [ ]:
# Check values in averageRating column
anova_df2['averageRating'].describe()

In [ ]:
# Drop NaN values from certifications
anova_df2 = anova_df2.dropna(subset = 'certification')
anova_df2.info()

There are no columns with a 0.0 value to consider (seems like they're all filled)
Also, we can see that the ratings range from 1 - 10

In [ ]:
# There are no columns with a 0.0 value to consider (seems like they're all filled)
# Quick plot with ouliers
sns.barplot(data = anova_df2, x = 'certification', y = 'averageRating');

In [ ]:
# Now, Using Tukey's rule, set quartile ranges and eliminate outliers
# Calculate Q1 and Q2
Q1 = anova_df2.averageRating.quantile(0.25)
Q3 = anova_df2.averageRating.quantile(0.75)
Q1, Q3

In [ ]:
# Calculate IQR
IQR = Q3 - Q1
IQR

In [ ]:
# Set upper and lower limit
lower_limit = Q1 - (1.5 * IQR)
upper_limit = Q3 + (1.5 * IQR)
lower_limit, upper_limit

In [ ]:
# Find and list our outliers
anova_df2[(anova_df2.averageRating < lower_limit) | (anova_df2.averageRating > upper_limit)]

In [ ]:
anova_no_outliers2 = anova_df2[(anova_df2.averageRating > lower_limit) & (anova_df2.averageRating < upper_limit)]
anova_no_outliers2
    # We can see below (from our row count) tha we have eliminated our outliers

In [ ]:
# We need to separate and analyze our groups individually. We have 4 certifications
certifications2 = {}

# Loop through all unique characteristics
for i in anova_no_outliers2['certification'].unique():
    data = anova_no_outliers2.loc[anova_no_outliers2['certification'] == i,
                                 'averageRating'].copy()
    
    # Save results in dictionary
    certifications2[i] = data
    
certifications2.keys()

In [ ]:
# Now, we can assess normality of our certifications (groups)
norm_results2 = {}

for i, data in certifications2.items():
    stat, p = stats.normaltest(data)
    
    # Append norm_results with p-values, test stats, and size of region group
    norm_results2[i] = {'n': len(data), 'p': p, 'test stat': stat,}
    
# Convert to a DF
norm_results_df2 = pd.DataFrame(norm_results2).T
norm_results_df2

In [ ]:
# Check sign (statistical significance) in pandas (more ledgible)
norm_results_df2['sig'] = norm_results_df2['p'] < 0.05
norm_results_df2

We confirm that 3 regions do NOT have normal distribution.
We have large enough groups to ignore the assumption of normality

In [ ]:
# Testing groups for equal varience (levene test)
stats.levene(*certifications2.values())

Our p-value is > 0.05, so we met our assumption of equal variance.
We will perform a One-Way ANOVA test in this situation

In [ ]:
result2 = stats.f_oneway(*certifications2.values())
result2

In [ ]:
# A quick visualization of our data WITHOUT outliers
sns.barplot(data = anova_no_outliers2, x = 'certification', y = 'averageRating');

Our result is < (less than) our Alpha of 0.05, which means we:
REJECT the Null Hypothesis (There is no difference in ratings between movie certifications )
SUPPORT the Alternate Hypothesis (There will be a statistical difference in ratings between movie certifications )